<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <link href="maincss.css" rel="stylesheet" />        
    <link rel="icon" type="image/png" href="img/icon.png">
    <title>Space Quiz</title>
    <style>
        label {
            display: block;
        }
    </style>
</head>
<body ng-app="myApp" ng-controller="mainCtrl as ctrl" ng-cloak>
    <h1>{{ctrl.title}}</h1>
    <main>
        <div class="msg">
            <p class="wellcome">Wellcome to {{ctrl.title}}</p>
            <p class="notice">you have 45 seconds to complete the quiz</p>
            <button class="star_quiz_button" ng-click="ctrl.startQuiz()">Start Quiz</button>
        </div>   
        <div ng-show="ctrl.show">
            <span id="progressBar"></span>
            <span class="question_no">{{ctrl.i + 1}}</span>
            <p class="the_question">{{ctrl.data[ctrl.i].Q}}</p>
            <div class="answers">
                <label ng-repeat="answer in ctrl.data[ctrl.i].O">
                    <input type="radio" name="val"  ng-model="ctrl.answers[ctrl.i]" value="{{answer}}" ng-change='ctrl.getValue()'/>{{answer}}
                </label>    
            </div>
            <button ng-disabled="ctrl.i == 0" ng-click="ctrl.nav('prev')" class="prev_button">&#9668;  previous</button>
            <button ng-click="ctrl.nav('next')" ng-hide="ctrl.i === ctrl.data.length-1" class="next_button">next  &#9658;</button>
            <button ng-click="ctrl.submit()" ng-show="ctrl.i === ctrl.data.length-1" class="submit_button">submit</button>            
        </div>
        <result-component score="ctrl.score" rightanswers="ctrl.rightAnswers" answers="ctrl.data" points="ctrl.points"></result-component>   
    </main>    
<script src="js/angular.min.js"></script>
<script src="js/main.js"></script>
<script src="js/Component.js"></script>
<script src="js/Services.js"></script>
</body>
</html>