body {
    margin: 0px;
    font-family: 'Muli', sans-serif;
    background-color: #333;
    background-image: url('img/back.png');
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

h1{
    text-align: center;
    color: #eee;
}

main{
    width: 50%;
    margin: auto;
    text-align: center;
    min-height: 60vh;
    background: linear-gradient(to bottom, rgba(81,81,81,1) 0%,rgba(102,102,102,1) 51%,rgba(56,56,56,1) 100%);
    color: #eee;
    border-radius: 5px;
    border: 1px solid #eee;
}

.star_quiz_button, .next_button, .prev_button, .submit_button{
    text-decoration: none;
    color: #eee;
    border: 1px solid #eee;
    padding: 0.5rem;
    background-color: yellowgreen;
    border-radius: 3px;
    width: 120px;
    margin: 2rem 5px 0 5px;
    cursor: pointer;
}
.star_quiz_button{
    margin: auto;
    margin-top: 2rem;
}

.submit_button{
   background-color: chocolate; 
}
.star_quiz_button:hover, .next_button:hover,.prev_button:hover, .submit_button:hover{
    font-color: #fff;
    background-color: #6c8f25;
}

.question_no{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: yellowgreen;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 1rem;
}

.answers{
    width: 300px;
    margin: 0 auto;
    text-align: left;
    color: yellowgreen;    
}

.the_question, .wellcome {
    font-size: 1.5rem;
}

.score{
    display: block;
    margin: auto;
    margin-bottom: 1rem;
}

.score span{
    font-size: 2rem;
    color: yellowgreen;
}

label{
   margin-bottom: 0.5rem;
}

#progressBar{
    width: 0%;
    display: block;
    height: 10px;
    background-color: yellowgreen;
    border-radius: 5px 0 0 0;
    transition: width 1s;
}

.notice{
    color: yellowgreen;
}
/*------------------ media queries --------------------*/

@media screen and (max-width:550px) {
    main{
        width: 90%;
        min-height: 80vh;
        padding: 0.5rem;
        box-sizing: border-box;
    }
    .star_quiz_button, .next_button, .submit_button, .prev_button {
        width: 130px;
        padding: 1rem;
        box-sizing: border-box;
    }    
    .star_quiz_button{
        width: 160px;
    }
    label{
        margin-bottom: 1rem;
    }
}
@media screen and (min-width: 550px) and (max-width: 800px) {
    main{
        width: 90%;
    }
} 
@media screen and (min-width: 800px) and (max-width: 1300px) {
    main{
        width: 70%;
    }
} 